<div class="baseLayout">

  <section>
    <button><img src="/icons/freeUser.svg" alt="default logo"></button><!--user profile-->
    <button class="pulsanteRosso" type="button" (click)="logOutFunc()">LOGOUT</button> <!--logOut button-->
  </section>

  <section id="prenotaAppuntamentiWrapper">
    <app-prenota-appuntamento/>
  </section>

  <section id="prossimiAppuntamentiWrapper">
    <app-prossimi-appuntamenti (passData)="getEntryData($event)"/>
  </section>

  @if (this.entryDetails()) {
    <div class="box" id="AppointmentDetails">
      <h2>Dettagli dell'appuntamento</h2>
      <div class="caselle">
        <h3>Richiedente: </h3>
        <h3>{{ currentUser?.nome }} {{ currentUser?.cognome }}</h3>
      </div>
      <div class="caselle">
        <h3>Data: </h3>
        <h3>{{ entryDetails()!.dataPrenotazione.split("T")[0].slice(0, 10) }}</h3>
      </div>
      <div class="caselle">
        <h3>Ora: </h3>
        <h3>{{ entryDetails()!.dataPrenotazione.split("T")[1].slice(0, 5) }} </h3>
      </div>
      <div class="caselle">
        <h3>Identificazione: </h3>
        <h3>{{ entryDetails()!.identificazioneProfessionale }}</h3>
      </div>
      <div class="caselle">
        <h3>Motivo dichiarato. </h3>
        <h3>{{ entryDetails()!.motivo }}</h3>
      </div>
    </div>
  }
</div>
