/*prossimiAppuntamenti wrapper is a container for<app-prossimi-appuntamenti/> */
#prossimiAppuntamentiWrapper{
  grid-area: sideL;
  height: 100%;
}

/*prenotaAppuntamenti wrapper is a container for <app-prenota-appuntamento/> */
#prenotaAppuntamentiWrapper{
  grid-area: main;
}
