.ospiteClass {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(auto-fit, 1fr );
  grid-template-areas:
    "topL header topR"
    "sideL main sideR"
    "botL footer botR";
}
