/*header styling */
.HomeHeader{
  height: 15vh;
}
.HomeHeader img{
  height: 100%;
}

/*grid layout for homeComponent*/
.homeClass {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "rootL root rootR"
    "topL header topR"
    "sideL main sideR"
    "botL footer botR";
}
