<div class="baseLayout">
  <app-prossimi-appuntamenti id="prossimiAppuntamentiRef"></app-prossimi-appuntamenti>
  <div class="pulsanti">
    <button class="pulsanteVerdeChiaro">NUOVO APPUNTAMENTO</button>
    <button class="pulsanteGiallo">DA ACCETTARE</button>
  </div>
  <!--router Outlet for nuovo Appuntamento, Appuntamento in Sospeso, da Accettare-->
  <div class="componentsRef">
    <app-accetta-appuntamento id="accettaRef"></app-accetta-appuntamento>
    <app-nuovo-appuntamento id="nuovoRef"></app-nuovo-appuntamento>
  </div>
</div>

