<div class="baseLayout">
  <app-prossimi-appuntamenti (passData)="getData($event)" id="prossimiAppuntamentiRef"></app-prossimi-appuntamenti>
  <div class="pulsanti">
    <button class="pulsanteVerdeChiaro" (click)="toggleSecNuovoApp(true)">Nuovo Appuntamento</button>
    <button class="pulsanteGiallo" (click)="toggleSecNuovoApp(false)">Da Accettare</button>
  </div>
  <!--router Outlet for nuovo Appuntamento, Appuntamento in Sospeso, da Accettare-->
  <div class="componentsRef">
    @if (showSecNuovoApp()=== false) {
      <app-accetta-appuntamento [passedData]="savedData" id="accettaRef"></app-accetta-appuntamento>
    }
    @if (showSecNuovoApp() === true){
      <app-nuovo-appuntamento id="nuovoRef"></app-nuovo-appuntamento>
    }
  </div>
</div>

