<p>nuovo-appuntamento works!</p>
<div class="contenitoreNewApp">
  <div class="infoAppuntamento">
    <h1>NUOVO APPUNTAMENTO</h1>
    <h3>CODICE FISCALE:</h3>
    <input type="text">
    <h3>COGNOME:</h3>
    <input type="text">
    <h3>NOME:</h3>
    <input type="text">
    <h3>EMAIL:</h3>
    <input type="text">
    <h3>TELEFONO:</h3>
    <input type="text">
    <h3>DATA:</h3>
    <input type="date">
    <h3>ORA:</h3>
    <input type="time">
  </div>
  <div class="pulsanti">
    <button>MODIFICA</button>
    <button>RIFIUTA</button>
    <button>ACCETTA</button>
  </div>
</div>

