<div class="benvComp">
  <div class="benvenuto">
    <div class="titolo">
      <h1>Benvenuto!</h1>
    </div>
    <div class="pulsanti">
    <button routerLink="login" class="pulsanteVerdeScuro">Login</button>
    <button routerLink="registerEsterno" class="pulsanteVerdeScuro">Registrati come Ospite</button>
    <button routerLink="registerInterno" class="pulsanteVerdeScuro">Registrati come Interno</button>
    </div>
  </div>
  <section class="tempWrap">
  <router-outlet></router-outlet>
  </section>
</div>
