/*position of the benvenutoComponent in the grid of homeLayout*/
.containerHome{
  grid-column-start: 2;
  grid-column-end: 3;
  height: 75vh;
}
h1{
text-align: center;
}
.pulsantiHome{
  display: flex;
  justify-content: center;
  height: 10%;
  gap: 10px;
}

.pulsantiHome button {
  cursor: pointer;
  border-radius: 25px;
  height: 100%;
  width: 25%;
  font-size: 1.2rem;
}

/*define height for Children components*/
#benvenutoOutlet{
  height: 75%;
}

/*child container (login, register...)*/
.childContainer{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

