<p>accetta-appuntamento works!</p>
<div class="contenitoreAccetta">
  <div class="infoAppuntamento">
    <h1>ACCETTA APPUNTAMENTO</h1>
    <h3>CODICE FISCALE:</h3>
    <p>...</p>
    <h3>COGNOME:</h3>
    <p>...</p>
    <h3>NOME:</h3>
    <p>...</p>
    <h3>EMAIL:</h3>
    <p>...</p>
    <h3>TELEFONO:</h3>
    <p>...</p>
    <h3>AZIENDA:</h3>
    <p>...</p>
    <h3>PROFESSIONE:</h3>
    <p>...</p>
    <h3>MOTIVO DELLA VISITA:</h3>
    <p>...</p>
    <h3>DATA:</h3>
    <input type="date">
    <h3>ORA:</h3>
    <input type="time">
  </div>
  <div class="pulsanti">
    <button>MODIFICA</button>
    <button>RIFIUTA</button>
    <button>ACCETTA</button>
  </div>
</div>
