h1{
  text-align: center;
}

.box{
  width:60%;
  height: 90%;
  padding: 2%;
}

.caselle{
  border-radius: var(--border-radius);
  width:60%;
  height: 1.5rem;
}

.pulsanteVerdeScuro{
  padding:5%;
  display: block;
  margin: 1rem auto;
  font-weight: bold;
}

