<div class="AllWrapper">
  <h2>PRENOTA APPUNTAMENTO</h2>
  <form [formGroup]="prenotaAppOspite" (ngSubmit)="onSubmit()">
    <h3>Data:</h3>
    <input class="caselleTesto" id="data" type="date" formControlName="data">
    <h3>Ora:</h3>
    <input class="caselleTesto" id="ora" type="time" formControlName="ora">
    <h3>Indentificazione professionale:</h3>
    <input class="caselleTesto" id="professione" type="text" formControlName="professione">
    <h3>Motivo della visita:</h3>
    <div class="motivo">
      <textarea class="caselleTesto" id="motivo"  placeholder="Scrivi qui..." formControlName="motivo"></textarea>
    </div>
    <button type="submit" [disabled]="!prenotaAppOspite.valid" class="bottoneVerdeScuro">PrenotaMe</button>
  </form>
</div>
