<p>utenti-admin works!</p>
<h1>UTENTI</h1>
<div class="contenitoreUtentiAdmin">

  <div class="receptionistAdminInfo">
  <h3>RECEPTIONIST</h3>
    <h4>ID:...</h4>
    <h4>Cognome:</h4>
    <p>...</p>
    <h4>Nome:</h4>
    <p>...</p>
  </div>

  <div class="referenteAdminInfo">
    <h3>REFERENTE</h3>
    <h4>ID:...</h4>
    <h4>Cognome:</h4>
    <p>...</p>
    <h4>Nome:</h4>
    <p>...</p>
  </div>

  <div class="ospiteAdminInfo">
    <h3>OSPITE</h3>
    <h4>ID:...</h4>
    <h4>Cognome:</h4>
    <p>...</p>
    <h4>Nome:</h4>
    <p>...</p>
  </div>

  <div class="adminInfo">
    <h3>ADMIN</h3>
    <h4>ID:...</h4>
    <h4>Cognome:</h4>
    <p>...</p>
    <h4>Nome:</h4>
    <p>...</p>
  </div>
</div>

