<div class="sfondoSideBar">
  <h1>UTENTI</h1>
  <div class="box">
    <h3>Ospiti</h3>
    @for (guest of guestList; track guest.id) {
      <div style="cursor: pointer" (click)="passData(guest)" class="caselle">
        <h4>ID:</h4>
        <h3>{{ guest?.id }}</h3>
        <h3>{{ guest?.cognome }}</h3>
        <h3>{{ guest?.nome }}</h3>
      </div>
    }
  </div>
  @for (role of dividedStaffList; track role[0]){
    <div class="box">
      <h3>{{getRoleName(role[0])}}</h3>
      @for (user of role[1]; track user?.id){
      <div style="cursor: pointer" (click)="passData(user)" class="caselle">
        <h4>ID:</h4>
        <h3>{{ user?.id }}</h3>
        <h3>{{ user?.cognome }}</h3>
        <h3>{{ user?.nome }}</h3>
      </div>
      }
    </div>
  }
</div>
