<div class="sfondoSideBar">
  <h1>UTENTI</h1>
  <div class="box">
    <h3>RECEPTIONIST</h3>
    <div class="caselle">
      <h4>ID:...</h4>
      <h4>Cognome:</h4>
      <p>...</p>
      <h4>Nome:</h4>
      <p>...</p>
    </div>
  </div>

  <h1>REFERENTE</h1>
  <div class="box">
    <h3>RECEPTIONIST</h3>
    <div class="caselle">
      <h4>ID:...</h4>
      <h4>Cognome:</h4>
      <p>...</p>
      <h4>Nome:</h4>
      <p>...</p>
    </div>
  </div>

  <h1>OSPITE</h1>
  <div class="box">
    <h3>RECEPTIONIST</h3>
    <div class="caselle">
      <h4>ID:...</h4>
      <h4>Cognome:</h4>
      <p>...</p>
      <h4>Nome:</h4>
      <p>...</p>
    </div>
  </div>

  <h1>ADMIN</h1>
  <div class="box">
    <h3>RECEPTIONIST</h3>
    <div class="caselle">
      <h4>ID:...</h4>
      <h4>Cognome:</h4>
      <p>...</p>
      <h4>Nome:</h4>
      <p>...</p>
    </div>
  </div>
</div>
