<div class="box">
  <form [formGroup]="utente" (ngSubmit)="onSubmit()">
    <h1>Utente</h1>
    <h3>ID: ...</h3>
    <h3>...RUOLO:</h3>
    <input class="caselle" id="ruolo" type="text" placeholder="RUOLO" formControlName="ruolo">
    <button class="bottoneVerdeScuro">VEDI DETTAGLI</button>
    <h3>COGNOME:...</h3>
    <h3>NOME:...</h3>
    <h3>EMAIL:...</h3>
    <h3>PASSWORD:...</h3>
    <input class="caselle" id="password" type="text" placeholder="PASSWORD" formControlName="password">
    <h3>PERMESSI:</h3>
    <button class="bottoneVerdeScuro">PERMESSI</button>
    <div class="pulsantiUtente">
      <button class="bottoneRosso">DISATTIVA UTENTE</button>
      <button class="bottoneGiallo">MODIFICA</button>
      <button  class="bottoneVerdeChiaro" type="submit" [disabled]="!utente.valid">SALVA MODIFICHE</button>
      <button class="bottoneAzzurro">STORICO UTENTE</button>
    </div>
  </form>
  <router-outlet></router-outlet>
</div>
