<p>utente works!</p>
<div class="AllWrapper">
  <form [formGroup]="utente" (ngSubmit)="onSubmit()">
    <h1>Utente</h1>
    <h3>ID: ...</h3>
    <h3>...RUOLO:</h3>
    <input id="ruolo" type="text" placeholder="RUOLO" formControlName="ruolo">
    <button>VEDI DETTAGLI</button>
    <h3>COGNOME:...</h3>
    <h3>NOME:...</h3>
    <h3>EMAIL:...</h3>
    <input type="text">
    <h3>PASSWORD:...</h3>
    <input id="password" type="text" placeholder="PASSWORD" formControlName="password">
    <h3>PERMESSI:</h3>
    <button>PERMESSI</button>
    <div class="pulsanti">
      <button>DISATTIVA UTENTE</button>
      <button>MODIFICA</button>
      <button type="submit" [disabled]="!utente.valid">SALVA MODIFICHE</button>
      <button>STORICO UTENTE</button>
    </div>
  </form>
  <router-outlet></router-outlet>
</div>
