.box {
  padding: 3%;
}

.storico {
  position: fixed;
  top: 5%;
  right: 5%;
}

#utente {
  grid-area: main;
}

.ruolo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.permessi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45%;
}

.password {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
}


.pulsanteVerdeScuro {
  height: 2%;
  padding: 2%;
  width: 40%;
}

.caselle {
  padding: 1%;
  height: 3%;
  border-radius: 25px;
}

.pulsanti {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.pulsanti button {
  margin: 0.5rem;
  padding: 0.2rem;
}

.pulsanteRosso {
  /*padding: 1%;*/

}
