.utente{
  grid-area: main;
}

.storico{
  grid-area: R;
}

.warning{
  grid-area: footer;
}
.adminClass{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows:  5vw 1fr 1fr;
  grid-template-areas:
    "topL header topR"
    "L main R"
    "L footer R";
}

.pulsanti{
  grid-area: topR;
  display: flex;
  justify-content: space-between;
}
.pulsanti button{
  height: 70%;
}
.utente{
  grid-area: main;
}
.utenti{
  grid-area:L;
}
