/* You can add global styles to this file, and also import other style files */
@import "./colorPalette.css";

body {
  background: var(--surface);
  background: var(--background-gradient);
  /*background-repeat: no-repeat;*/
  background-size: cover;
  height: 100vh;
  margin: 0;
}

.outletWrapper{
  height: 100vh;
}

.AllWrapper {
  background-color: var(--window);
  border-radius: 25px;
}

.sideBar {
  background-color: var(--sidebar);
  border-radius: 25px;
}

.bottoneVerdeScuro {
  background-color: var(--button-primary-bg);
  color: var(--button-primary-text)
}

.bottoneVerdeChiaro {
  background-color: var(--color-success);
  color: var(--button-primary-text)
}

.bottoneGiallo {
  background-color: var(--color-warning);
  color: var(--button-primary-text)
}

.bottoneRosso {
  background-color: var(--color-error);
  color: var(--button-primary-text)
}

.bottoneAzzurro {
  background-color: var(--color-info);
  color: var(--button-primary-text)
}

.wrappStorico {
  background-color: var(--button-primary-bg);
  border-radius: 25px;
}

.caselleTesto {
  background-color: var(--button-secondary-bg);
  border-radius: 25px;
}

.infoAppuntamento {
  background-color: var(--background);
  border-radius: 25px;
}

button{
  border-radius: 25px;
  cursor:pointer;
}

h1{
  font-weight: bold;
  font-size: 2.5rem;
}



