<div class="principale">
  <h2>LOGIN</h2>
  <div class="box">
    <img class="caselle" src="" alt="foto profilo default">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <input class="caselle" id="email" type="email" placeholder="EMAIL" formControlName="email"/> <br/>
      <input class="caselle" id="passsword" type="password" placeholder="PASSWORD" formControlName="password"/> <br/>
      <button type="submit" [disabled]="!loginForm.valid" class="pulsanteVerdeScuro">LOGIN</button>
    </form>
  </div>
</div>
