h2 {
  text-align: center;
}

.caselle {
  margin: 0%;
  padding: 3%;
  border-radius: 25px;
}

.img {
  background-color: var(--button-secondary-bg);
  color: var(--button-secondary-text);
  border: var(--input-border);
  font-size: 0.75rem;
  border-radius: 100%;
  margin-top: 5%;
}

.pulsanteVerdeScuro {
  padding: 10%;
  align-items: center;
}
.pulsanti{
  align-items: center;
}

/*.principale{
  grid-area: main;
}*/

.loginForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10%;
  margin:5%;
}

