h2 {
  text-align: center;
}

.caselle {
  margin: 5%;
  padding: 5%;
  border-radius: 25px;
}

img {
  border-radius: 100%;
}

.pulsanteVerdeScuro {
  padding: 10%;
  align-items: center;
}
.pulsanti{
  align-items: center;
}

.principale{
  grid-area: main;
}

