<p>info-ospite works!</p>
<div class="contenitoreInfo">
  <div class="infoUtente">
    <h3>NOME:{{}}</h3>
    <h3>COGNOME:{{}}</h3>
    <h3>NOME AZIENDA:{{}}</h3>
    <h3>ORA VISITA:{{}}</h3>
    <h3>REFERENTE:{{}}</h3>
    <h3>ENTRA ORE:</h3>
    <input type="time">
    <h3>ESCE ORE:</h3>
    <input type="time">
  </div>

  <div class="note">
    <label for="TextBoxNote">Note:</label>
    <textarea id="TextBoxNote" name="TextBoxNote" placeholder="Scrivi qui..."></textarea>
  </div>

  <div class="pulsantiInfo">
    <button>NON PRESENTATO</button>
    <button>MODIFICA</button>
    <button>APPLICA</button>
  </div>
</div>
